@using System.Configuration
@model CIBuildProcess.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AMBERJACK CI</h1>
    <p class="lead">FULLY AUTOMATED FROM GIT PUSH TO DEPLOY - SUCCESS!!!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Automated Build</h2>
        <p>
            Automate build bought to you by TeamCity.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Release Packaging</h2>
        <p>Release Packaging by OctoPack.</p>
    </div>
    <div class="col-md-4">
        <h2>Deployment</h2>
        <p>Deployment by Octopus Deploy</p>
    </div>
</div>